.attributes-box{
    /* border: 1px solid #660099; */
    box-shadow: 0px 0px 2px 0px #660099;
    border-radius: 20px;
    padding: 10px;
    background-color: #6600991c;
    position: relative;
    width: 250px;
    margin: 10px;
    height: 50px;
    overflow: hidden;
}

.expanded{
    height: auto;
}

.expand-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: #660099;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.attribute-value{
    margin: 10px 0px;
    height: 25px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #660099;
    padding: 0px 10px;
}