
.syntax-box{
    background-color: #F6FAFE;
    /* padding: 15px 0px; */
}

.Current-chapter-definition{
    margin: 15px 0px;
}

.syntax{
    display: block;
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.Current-chapter-container{
    padding: 15px;
}

.attributes-wrapper{
    display: flex;
}

.attributes{
    margin-right:20px ;
    margin-top:10px ;
    padding: 2px 20px;
    border: 1px solid #670099;
    background-color: #6600991c;
    border-radius: 20px;
    cursor: pointer;
    /* background-color: white; */
}

.attributes:hover{
    transform: scale(1.03);
}

.applied{
    background-color: red;
}