
.syntax-box{
    background-color: #F6FAFE;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    /* padding: 15px 0px; */
}

.Current-chapter-definition{
    margin: 15px 0px;
}

.syntax{
    display: block;
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    /* width: 100%; */
    max-width: 750px;
    overflow: auto;
}

.Current-chapter-container{
    padding: 15px;
}

.attributes-wrapper{
    flex-wrap: wrap;
}